body {
  background-color: silver;
  font-family: arial;
  margin: 0;
}

h1 {
  color: mediumblue;
}

h2, h3 {
  color: crimson;
}

header {
  background-color: red;
}

#top {
  background-color: dimgrey;
  display: flex;
  border: 2px solid black;
  padding-left: 10px;
}

.welcome, .instructions, .main-btn {
  text-align: center;
}

.welcome {
  padding: 20px 0 20px 0;
}

.instructions {
  padding-bottom: 40px;
}

#btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

#btn:focus {
  outline: 0;
}

#btn:active {
  color: white;
  background-color: dimgrey;
}











//
