body {
  background-color: silver;
  font-family: arial;
  margin: 0;
}

h1 {
  color: mediumblue;
}

h2, h3 {
  color: crimson;
}

header {
  background-color: red;
}

#top {
  background-color: dimgrey;
  border: 2px solid black;
  padding-left: 10px;
}

.welcome, .instructions, .main-btn {
  text-align: center;
}

.welcome {
  padding: 20px 0 20px 0;
}

.instructions {
  padding-bottom: 40px;
}

.haha {
  display: flex;
  justify-content: center;
}

#btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  width: 130px;
}

#btn:focus {
  outline: 0;
}

#btn:active {
  color: white;
  background-color: dimgrey;
}

.rainbow {
  animation: rainbow 1.5s infinite;
}

@keyframes rainbow{
  16.66%{color: red;}
	33.32%{color: orange;}
	49.98%{color: yellow;}
	66.64%{color: green;}
	83.3%{color: blue;}
	100%{color: purple;}
}
